@import "../bootstrap/less/bootstrap.less";
@import "variables.less";

/* Mixins */
.rounded {
       -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
}

.inverse-gradient {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#111111));
    background-image: -webkit-linear-gradient(top, #444444, #111111);
    background-image: -o-linear-gradient(top, #444444, #111111);
    background-image: linear-gradient(to bottom, #444444, #111111);
    background-image: -moz-linear-gradient(center top, #444444, #111111);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff111111', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.highlight {
    background-color: @warningBackground;
}

/* Layout */
.navbar {
    .brand {
        color: #fff;
    }
}

.navbar-inverse {
    .navbar-inner {
        .inverse-gradient;
    }
}

/* Scaffolding */
tr {
    &.clickable {
        cursor: pointer;
        a {
            color: @textColor;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

dt,
dd {
  line-height: @baseLineHeight + 5px;
}

/* Home */
.billboard {
    height: 360px;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 480px;
        min-width: 100%;
        z-index: -1;
    }
    
    .billboard-caption {
        background-color: transparent;
        max-width: 550px;
        padding: 0 20px;
        margin-top: 100px;
        
        h1, .lead {
            margin: 0;
            line-height: 1.25;
            color: #fff;
            text-shadow: 0 1px 1px rgba(0,0,0,.4);
        }
        
        h1 {
            font-size: 5em;
        }
    }
    
    .btn {
        margin-top: 10px;
    }
    
}

