@import "../bootstrap/less/bootstrap.less";
@import "variables.less";
@import "datepicker.less";

/* Layout */
body { 
	padding-top: 60px; 
}

.navbar {
    .brand {
        color: #fff;
    }
}

.navbar-inverse {
    .navbar-inner {
        #gradient > .vertical(#444, #111);
    }
}

.container.main {
    min-height: 500px;
}

footer {
    background-color: #cecece;
    color: @gray;
    margin: 60px 0 0 0;
    padding: 30px 0 20px 0;
    text-shadow: 0 1px 0 #fff;
    a, a:hover {
        color: @gray;
        text-shadow: none;
    }
    
    &.footer-inverse {
        background-color: #5c5c5c;
        color: #ccc;
        text-shadow: 1px 1px 3px rgba(0,0,0,.4);
        a, a:hover {
            color: #ccc;
        }
    }
    
    .copy {
        margin-top: 30px
    }    
}

/* General */
.text-xlarge {
    font-size: 1.8em;
}

.col-centered {
    text-align: center;
}

.col-inner {
    text-align: left;
    display: inline-block;
}

.nav-separator {
    color: @grayLight;
    padding: 0 5px;
}

/* Scaffolding */
th.asc, th.desc {
    a:after {
    	content: '';
    	display: inline-block;
    	width: 14px;
    	height: 14px;
    	margin-left: 0.3em;
    	vertical-align: text-top;
    	background-image: url(../bootstrap/img/glyphicons-halflings.png);
    	background-position: 14px 14px;
    	background-repeat: no-repeat;
    }
}

th.asc a:after {
	background-position: -289px -96px;
}

th.desc a:after {
	background-position: -312px -96px;
}

tr {
    &.clickable {
        cursor: pointer;
        a {
            color: @textColor;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

thead {
    th {
	    white-space: nowrap;
    }
}

dt,
dd {
  line-height: @baseLineHeight + 5px;
}

.controls {
    ul {
        margin: 5px 0 5px 25px;
    }
}

input[type="checkbox"], input[type="radio"] {
    margin-top: 7px;
}

label {
    input[type="checkbox"], input[type="radio"] {
        margin-top: 4px;
    }
}

.input-append, .input-prepend {
    input {
        width: 178px;
    }
}

/* Home */
.billboard {
    height: 360px;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 480px;
        min-width: 100%;
        z-index: -1;
    }
    
    .billboard-caption {
        background-color: transparent;
        max-width: 550px;
        padding: 0 20px;
        margin-top: 100px;
        
        h1, .lead {
            margin: 0;
            line-height: 1.25;
            color: #fff;
            text-shadow: 0 1px 1px rgba(0,0,0,.4);
        }
        
        h1 {
            font-size: 5em;
        }
    }
    
    .btn {
        margin-top: 10px;
    }
    
}

/* Signin */
.login {
    margin-top: 40px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 40px auto 80px;
    background-color: @tableBackgroundAccent;
    border: 1px solid darken(@tableBackgroundAccent, 7%);
    .border-radius(8px);
    .box-shadow(0 1px 2px rgba(0,0,0,.1));
    text-align: center;
    .form-signin-heading {
        .checkbox {
            margin-bottom: 10px;
        }
    }
    fieldset {
        text-align: left;
    }
    label {
        margin-top: -5px;
        margin-bottom: 15px;
    }
    input[type="text"], input[type="password"] {
        font-size: 20px;
        height: 45px;
        margin-bottom: 15px;
        padding: 10px 15px;
    }
}

/* Error pages */
.big-message {
    color: #5A5A5A;
    margin: 8em 0;
    text-align: center;
    h1 {
        font-size: 8em;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 1em;
        margin: 0.0em 0 0.5em;
    }
    h2 {
        font-size: 2em;
    	font-weight: 200;
    }
    p {
        font-size: 1.15em;
        line-height: 1.5em;
    }
    .actions {
        margin: 2.0em 0;
    }
}

pre.snippet {
    code.line {
	    border: none;
	    display: block;
    }

    .lineNumber {
	    display: inline-block;
	    width: 3em;
    }

    .error {
	    font-weight: bold;
    }
}

/* Projects */
textarea#name {
    width: 450px;
    height: 40px;
}

/* Tasks */
textarea#descr {
    width: 450px;
    height: 60px;
}
